{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,

  "importOrder": [
    "<THIRD_PARTY_MODULES>",

    "@domain",
    "@data",
    "@presentation",
    "@main",

    "(.*)/enums$",
    "(.*)/models$",
    "(.*)/errors$",
    "(.*)/usecases$",

    "(.*)/constants$",
    "(.*)/protocols$",
    "(.*)/dao$",
    "(.*)/hydration$",
    "(.*)/services$",

    "(.*)/hooks$",
    "(.*)/contexts$",
    "(.*)/states$",
    "(.*)/components$",
    "(.*)/proxies$",
    "(.*)/pages$",
    "(.*)/app$",
    "(.*)/styles$",
    "(.*)/mixins$",
    "(.*)/assets$",

    "(.*)/adapters$",
    "(.*)/factories$",

    "(.*)/utils$",
    "(.*)/types$",

    "^[../]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
